// variable
:root {
    --font-body: "DM Sans", sans-serif;
    --font-heading: "Playfair Display", serif;
    --font-caveat: "Caveat", cursive;

    --color-primary: #d7a622;
    --color-secondary: #192a75;
    --color-heading:   #170006;
    --color-violet:   #d7a622;
    --color-default: #5c5c54; 
    --color-default-two: #606056; 
    --color-sec-bg: #fffdf6; 
    --color-gray: #080707; 
    --color-pink: #ffeff1; 

    --color-dark: #0F172A;
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;
}